
<h1>Zoe's Super Awesome Basic Application</h1>
<h2>I can't believe it's not professional!</h2>

<p>Here is some text that will be turned into other things someday.</p>

<%= link_to "View my book", posts_path %> <%= link_to "Sign my book", new_post_path %>
